---
- name: install mariadb
  homebrew:
    name: mariadb
    state: present
  notify: restart mariadb
  tags: setup

- name: "install packages"
  homebrew:
    name: "{{ item }}"
    state: present
  with_items:
    - sqlite
  tags: setup

- name: configure mariadb
  template:
    dest: "{{ webdev_homebrew_rootpath }}etc/my.cnf"
    src: 'my.cnf.j2'
    owner: "{{ user }}"
  notify: restart mariadb
  tags: setup

- name: set permissions
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ webdev_user }}"
    group: "{{ webdev_group }}"
    mode: 0775
    recurse: yes
  with_items:
    - /usr/local/var/mysql/
  tags: setup

- name: create symlink for LaunchDaemon
  file:
    path: "/Library/LaunchDaemons/homebrew.mxcl.mariadb.plist"
    state: link
    src: "/usr/local/opt/mariadb/homebrew.mxcl.mariadb.plist"
  sudo: true
  notify: restart mariadb
  tags: setup

- name: install MySQL-python
  pip:
    name: MySQL-python
  tags: setup

- name: create instance
  include: create_instance.yml
  when: name is defined