alias nginx.start='sudo launchctl load /Library/LaunchDaemons/homebrew.mxcl.nginx.plist'
alias nginx.stop='sudo launchctl unload /Library/LaunchDaemons/homebrew.mxcl.nginx.plist'
alias nginx.restart='nginx.stop && nginx.start'

alias php-fpm55.start="sudo launchctl load -w /Library/LaunchDaemons/homebrew.mxcl.php55.plist"
alias php-fpm55.stop="sudo launchctl unload -w /Library/LaunchDaemons/homebrew.mxcl.php55.plist"
alias php-fpm55.restart='php-fpm55.stop && php-fpm55.start'

alias php-fpm56.start="sudo launchctl load -w /Library/LaunchDaemons/homebrew.mxcl.php56.plist"
alias php-fpm56.stop="sudo launchctl unload -w /Library/LaunchDaemons/homebrew.mxcl.php56.plist"
alias php-fpm56.restart='php-fpm56.stop && php-fpm56.start'

alias php-fpm70.start="sudo launchctl load -w /Library/LaunchDaemons/homebrew.mxcl.php70.plist"
alias php-fpm70.stop="sudo launchctl unload -w /Library/LaunchDaemons/homebrew.mxcl.php70.plist"
alias php-fpm70.restart='php-fpm70.stop && php-fpm70.start'

alias php-fpm.start="php-fpm70.start; php-fpm56.start; php-fpm55.start"
alias php-fpm.stop="php-fpm70.stop; php-fpm56.stop; php-fpm55.stop"
alias php-fpm.restart="php-fpm70.restart; php-fpm56.restart; php-fpm55.restart"

alias mysql.start="sudo launchctl load -w /Library/LaunchDaemons/homebrew.mxcl.mysql.plist"
alias mysql.stop="sudo launchctl unload -w /Library/LaunchDaemons/homebrew.mxcl.mysql.plist"
alias mysql.restart='mysql.stop && mysql.start'

alias selenium.start="selenium-server -p 4444"

alias use_php55="brew unlink php54 && brew unlink php55 && brew unlink php56 && brew unlink php70 && brew link php54"
alias use_php55="brew unlink php54 && brew unlink php55 && brew unlink php56 && brew unlink php70 && brew link php55"
alias use_php56="brew unlink php54 && brew unlink php55 && brew unlink php56 && brew unlink php70 && brew link php56"
alias use_php70="brew unlink php54 && brew unlink php55 && brew unlink php56 && brew unlink php70 && brew link php70"

alias dnsmasq.start='sudo launchctl load /Library/LaunchDaemons/homebrew.mxcl.dnsmasq.plist'
alias dnsmasq.stop='sudo launchctl unload /Library/LaunchDaemons/homebrew.mxcl.dnsmasq.plist'
alias dnsmasq.restart='dnsmasq.stop && dnsmasq.start'


alias debugproxy="${GOPATH}/src/github.com/dfeyer/flow-debugproxy/flow-debugproxy --xdebug 127.0.0.1:9000 --ide 127.0.0.1:9010 --vv"

alias nginx.logs.error='tail -250f /usr/local/etc/nginx/logs/error.log'
alias nginx.logs.access='tail -250f /usr/local/etc/nginx/logs/access.log'
alias nginx.logs.default.access='tail -250f /usr/local/etc/nginx/logs/default.access.log'
alias nginx.logs.default-ssl.access='tail -250f /usr/local/etc/nginx/logs/default-ssl.access.log'
alias nginx.logs.phpmyadmin.error='tail -250f /usr/local/etc/nginx/logs/phpmyadmin.error.log'
alias nginx.logs.phpmyadmin.access='tail -250f /usr/local/etc/nginx/logs/phpmyadmin.access.log'

alias dnsflush='dscacheutil -flushcache'
